<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin dashboard</title>
</head>
<body>
<h1>Admin Dashboard</h1>

<div class="allposts" style="border: black 2px solid" th:text="All Posts" th:each="post : ${allPosts}">
<h5 th:text="${post.title}"></h5>
    <p th:text="${post.description}"></p>
    <form th:action="@{/files/{id}/flag(id=${post.id})}" th:method="post">
        <button th:type="submit" class="btn btn-danger">Flag Post</button>
    </form>
    <form th:action="@{/files/{id}/delete(id=${post.id})}" th:method="delete">
        <button th:type="submit" class="btn btn-danger">Delete Post</button>
    </form>
</div>

<div class="allUsers" th:text="all Users" style="border: black 2px solid" th:each="user : ${allUsers}">
    <h5 th:text="${user.username}"></h5>
    <p th:text="${user.joinedAt}"></p>
    <form th:action="@{/users/{id}/flag(id=${user.id})}" th:method="post">
        <button th:type="submit" class="btn btn-danger">Flag User</button>
    </form>
    <form th:action="@{/users/{id}/delete(id=${user.id})}" th:method="delete">
        <button th:type="submit" class="btn btn-danger">Delete User</button>
    </form>
</div>

<!--TODO: create flagging option-->
<div class="allFlaggedPosts" th:text="Flagged Posts" style="border: black 2px solid" th:each="post : ${flaggedPosts}">
<h3 th:text="${post.title}"></h3>
    <p th:text="${post.description}"></p>
    <p th:text="${post.isFlagged}"></p>
</div>
<div class="allFlaggedUsers" th:text="Flagged Users" style="border: black 2px solid" th:each="user : ${flaggedUsers}">
    <h3 th:text="${user.username}"></h3>
    <p th:text="${user.joinedAt}"></p>
    <p th:text="${user.isFlagged}"></p>
</div>
</body>
</html>