<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header_partial::head">
    <title id="pageTitle">Compose a new message</title>
</head>
<body class="background">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <form th:method="post" th:action="@{/messages/send}">
        <div class="form-group">
            <div th:if="${param.error}">Recipient username does not exist</div>
            <label for="to">To:</label>
            <input type="text" name="recipient" id="to" class="form-control field"
                   placeholder="Enter recipient's username" th:value="${rec}">
        </div>

        <div class="form-group">
            <label for="message">Message:</label>
            <textarea type="text" id="message" name="message" class="form-control field"
                      placeholder="Write your message here..." th:text="${msg}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<footer th:include="partials/footer_partial::footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
