<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header_partial::head">
    <title id="pageTitle">Inbox</title>
</head>
<body class="background">
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:if="${param.sent}">Message Sent!</div>



    <div class="backgroundDiv">

        <div th:replace="partials/messages::messageOptions"></div>

        <div class="tab-content m-2 mt-2" style="background-color: #3d3c3c; border-radius: 5px;" id="v-pills-tabContent">

            <!-- INBOX -->
            <div th:replace="partials/messages::inboxMessages"></div>

            <!-- SENT -->
            <div th:replace="partials/messages::sentMessages"></div>



            <!-- TODO: trash functionality will probably require a small database change -->
            <div class="tab-pane fade" id="trash" role="tabpanel" aria-labelledby="trash-tab">trash</div>

        </div>
        <div class="backgroundDiv"><a class="" href="/messages/compose" style="text-decoration: none;">Compose</a></div>
    </div>



<footer th:include="partials/footer_partial::footer"></footer>
<section th:replace="partials/partials_scripts::script"></section>
<script>
    function markRead(id) {
        console.log(id);
        $.ajax({
            url: "/ajax/read/" + id,
            success: function() {
                $("#message-" + id + "-tab>span").removeClass("text-danger");
            }
        })
    }
</script>
</body>
</html>
