<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header_partial::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${param.sent}">Message Sent!</div>

Inbox
<div th:each="message : ${received}">
    <div>
        <span th:text="${message.message}"></span> from <span th:text="${message.sender.username}"></span>
    </div>
</div>

Sent Messages
<div th:each="message : ${sent}">
    <div>
        <span th:text="${message.message}"></span> to <span th:text="${message.recipient.username}"></span>
    </div>
</div>


</body>
<footer th:include="partials/footer_partial::footer"></footer>
</html>