<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header_partial::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="background">
<nav th:replace="partials/navbar :: navbar"></nav>
<!--TODO: make usernames clickable to view profiles -->
<!-- reply button -->
<div>
    TO: <span th:text="${message.recipient.username}"></span>
</div>

<div>
    FROM: <span th:text="${message.sender.username}"></span>
</div>

<div>
    MESSAGE: <span th:text="${message.message}"></span>
</div>

<div>
    SENT AT: <span th:text="${message.sentAt}"></span>
</div>


<script th:replace="partials/partials_scripts :: script"></script>
<footer th:replace="partials/footer_partial :: footer"></footer>
</body>
</html>
