<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header_partial::head">
    <meta charset="UTF-8">
    <title id="pageTitle">View Message</title>
</head>
<body class="colorBackground">
<nav th:replace="partials/navbar :: navbar"></nav>
<!--TODO: make usernames clickable to view profiles -->
<!-- reply button -->

    <section class="backgroundDiv">
        <div>
            TO: <span th:text="${message.recipient.username}"></span>
        </div>

        <div>
            FROM: <span th:text="${message.sender.username}"></span>
        </div>

        <div>
            MESSAGE: <span th:text="${message.message}"></span>
        </div>

        <div>
            SENT AT: <span th:text="${message.sentAt}"></span>
        </div>
    </section>


<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
