<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<!-- Controller serving the page has to pass down a file (to be favored)
    and whether or not the current user is already favoriting this -->
<form id="favorite-form" th:fragment="favorite" th:action="@{/files/favorite/{id}(id=${file.id})}" th:method="post">
    <button class="favoriteBtn" th:if="${favorited}" type="button" name="unfavorite" th:onclick="'favoriteFile(' + ${file.id} + ')'">
        <i aria-labelledby="unfavorite button" class="fas fa-heart unfavorite"></i><span class="text-muted">unlike</span>
    </button>
    <input type="hidden" name="favorited" th:value="${favorited}">
    <button class="favoriteBtn" th:if="${!favorited}" th:onclick="'favoriteFile(' + ${file.id} + ')'"
            type="button" aria-labelledby="favorite button" name="favorite">
        <i class="far fa-heart favorite"></i> <span class="text-muted">like</span>
    </button>
    <script>
        function favoriteFile(fileId) {
            $(".favoriteBtn").prop("disabled", true);

            $.ajax({
                url: "/files/favorite/" + fileId + "?" + $("#favorite-form").serialize(),
                type: "POST",
                headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                success: function (data) {

                    let page = document.createElement("html");
                    $(page).html(data);
                    $('#favorite-form').html(page.querySelector("#favorite-form").innerHTML);

                    $(".favoriteBtn").prop("disabled", false)
                }
            });
        }
    </script>
</form>

</html>