<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<!-- Controller serving the page has to pass down a user (to be followed)
    and whether or not the current user is already following -->

<div th:fragment="favorites">
    <div class="row">
        <!--        <h4 class="text-center">Favorited Files</h4>-->
        <div th:each="file : ${favorites}" class="col-12 col-md-6">
            <div class="card backgroundDiv d-flex flex-column align-items-start justify-content-between">
                <div class="card-header">
                    <a th:href="@{'/files/' + ${file.id}}" class="card-title fs-5 file-title-link"
                       th:text="${file.title}"></a>
                </div>
                <!--                <img class="image" src="https://picsum.photos/300/200"-->
                <!--                     alt="randomized picture">-->
                <div class="card-body" th:text="${file.description}"></div>
                <hr class="bg-light w-100 m-1">
                <div class="d-flex w-100 justify-content-between">
                    <div class="card-footer" style="color: #b3efbd">
                        posted by:
                        <a th:text="${file.owner.username}" th:href="@{/profile/{id}(id=*{file.owner.id})}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>