<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<!-- Controller serving the page has to pass down a user (to be followed)
    and whether or not the current user is already following -->
<form id="follow-form" th:fragment="follow" th:action="@{/users/follow/{id}(id=${user.id})}" th:method="post">
    <button class="followBtn" th:if="${following}" type="button" name="unfollow" th:onclick="'javascript:followUnfollow(' + ${user.id} + ')'"><i aria-labelledby="unfollow button" class="fas fa-bell-slash unfollow follow-bell"></i></button>
    <input id="follow-value" type="hidden" name="following" th:value="${following}">
    <button class="followBtn" th:if="${!following}" type="button" name="follow" th:onclick="'javascript:followUnfollow(' + ${user.id} + ')'"><i aria-labelledby="follow button" class="fas fa-bell follow follow-bell"></i></button>
    <script>
        function followUnfollow(id) {

            $(".followBtn").prop("disabled", true)

            $.ajax({
                url: "/users/follow/" + id + "?" + $('#follow-form').serialize(),
                type: "POST",
                headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                success: function (data) {

                    let page = document.createElement("html");
                    $(page).html(data);
                    $('#follow-form').html(page.querySelector("#follow-form").innerHTML);

                    $(".followBtn").prop("disabled", false)
                }
            });
        }
    </script>
</form>

</html>