<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<!-- Controller serving the page has to pass down a user (to be followed)
    and whether or not the current user is already following -->
<form th:fragment="follow" th:action="@{/users/follow/{id}(id=${user.id})}" th:method="post">
    <button class="followBtn" th:if="${following}" type="submit" name="unfollow"><i aria-labelledby="unfollow button" class="fas fa-bell-slash unfollow"></i></button>
    <input type="hidden" name="following" th:value="${following}">
    <button class="followBtn" th:if="${!following}" type="submit" name="follow"><i aria-labelledby="follow button" class="fas fa-bell follow"></iaria-labelledby></button>
</form>

</html>