<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Controller serving the page has to pass down a user (to be followed)
    and whether or not the current user is already following -->
<form th:fragment="follow" th:action="@{/users/follow/{id}(id=${user.id})}" th:method="post">
    <button class="followBtn" th:if="${following}" type="submit" name="unfollow"><i class="fas fa-cube unfollow"></i></button>
    <input type="hidden" name="following" th:value="${following}">
    <button class="followBtn" th:if="${!following}" type="submit" name="follow"><i class="fas fa-cube follow"></i></button>
</form>

</body>
</html>