<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<!-- Controller serving the page has to pass down a user (to be followed)
    and whether or not the current user is already following -->

<div th:fragment="feed">
    <div class="row">
        <h4 class="text-center">3D Model Feed</h4>
        <div th:each="file : ${feed}" class="col-12 col-md-6">
            <div class="card backgroundDiv d-flex flex-column align-items-center justify-content-between">
                <a th:href="@{'/files/' + ${file.id}}" class="card-title link-danger"
                   th:text="${file.title}"></a>
                <img class="image" src="https://picsum.photos/300/200"
                     alt="randomized picture">
                <div class="card-body" th:text="${file.description}"></div>
                <a th:text="${file.owner.username}" th:href="@{/profile/{id}(id=*{file.owner.id})}"></a>
            </div>
        </div>
    </div>
</div>

</html>