<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title id="pageTitle">File</title>
</head>

<div th:fragment="full-message" class="p-1">
    <div>
        FROM: <span th:text="${message.sender.username}"></span>
    </div>

    <div>
        TO: <span th:text="${message.recipient.username}"></span>
    </div>

    <div>
        MESSAGE: <span th:text="${message.message}"></span>
    </div>

    <div>
        SENT AT: <span th:text="${message.sentAt}"></span>
    </div>
</div>




<div th:fragment="messageOptions" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
     aria-orientation="vertical">

    <div class="tab-content col-lg-8" id="v-tabContent">
        <div class="tab-pane fade"  th:each="message : ${received}"
             th:id="${'message-' + message.id}"
             role="tabpanel"
             th:aria-labelledby="${'message-' + message.id + '-tab'}">
            <div th:replace="partials/messages::full-message"></div>
        </div>
    </div>
<!--INBOX PARTIAL-->
    <div th:fragment="inboxMessages" class="tab-pane fade show active " data-toggle="pill"   id="inbox" role="tabpanel"
         aria-labelledby="inbox-tab">
<!--            collapse-->
        <p class="col-4">
            <a class="btn btn-secondary" data-toggle="collapse" href="#msg" role="button" aria-expanded="false" aria-controls="collapseExample">Inbox</a>
        </p>
        <div class="collapse col-4" id="msg">
            <div class="d-flex collapse col-lg-4">
                <table  class="messageItem table table-hover table-dark ">
                    <thead>
                    <tr>
                        <th scope="col">From:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>

                            <ul  class="nav flex-column nav-tabs d-flex"  role="tablist" aria-orientation="vertical">
                                <li  class="nav-item d-flex w-100" th:each="message : ${received}">
                                    <a class="subject nav-link" th:href="@{'/profile/' + ${message.sender.id}}" th:text="${message.sender.username}"></a>
                                    <a  class="subject flex-column nav-link w-100"
                                       th:id="${'message-' + message.id + '-tab'}" data-toggle="tab"
                                       th:href="${'#message-' + message.id}" role="tablist"
                                       th:aria-controls="${'message-' + message.id}"
                                       th:onclick="'javascript:markRead(' + ${message.id} + ')'">
                                        <span th:if="${message.unread}" th:text="${#strings.abbreviate(message.message, 20)}" class="text-danger"></span>
                                        <span th:unless="${message.unread}" th:text="${#strings.abbreviate(message.message, 20)}"></span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!--sent-->
    <div th:fragment="sentMessages" class="tab-pane fade show active " data-toggle="pill"   id="sentBox" role="tabpanel" aria-labelledby="sent-tab">
        <!--            collapse-->
        <p class="col-4">
            <a class="btn btn-secondary" data-toggle="collapse" href="#sentMsg" role="button" aria-expanded="false" aria-controls="collapseExample">Sent</a>
        </p>
        <div class="collapse col-lg-4" id="sentMsg">
            <div class="d-flex collapse col-4 ">
                <table class="messageItem table table-hover table-dark ">
                    <thead>
                    <tr>
                        <th scope="col">From:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul class="nav flex-column nav-tabs" id="v-tabs-sent" role="tabpanel" aria-orientation="vertical" aria-labelledby="sent-tab">
                                <li class="nav-item d-flex my-0" th:each="message : ${sent}">
                                    <a class="subject nav-link" th:href="@{'/profile/' + ${message.sender.id}}" th:text="${message.sender.username}"></a>
                                    <a id="v-pills-sent-tab" class="subject flex-column nav-link w-100"
                                       th:id="${'message-' + message.id + '-tab'}" data-toggle="tab"
                                       th:href="${'#message-' + message.id}" role="tab"
                                       th:aria-controls="${'message-' + message.id}"
                                       th:text="${#strings.abbreviate(message.message, 20)}">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
<!--                    <div class="tab-content"  style="margin-top: 200px" id="v-pills-tabcontent">-->
<!--                        <div class="tab-pane fade" id="v-pills-sent" th:each="message : ${sent}"-->
<!--                             th:id="${'message-' + message.id}"-->
<!--                             role="tabpanel"-->
<!--                             th:aria-labelledby="${'message-' + message.id + '-tab'}">-->
<!--                            <div th:replace="partials/messages::full-message"></div>-->
<!--                        </div>-->
<!--                    </div>-->
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>

</div>

<footer th:replace="partials/footer_partial :: footer"></footer>
<script th:inline="javascript">const fileUrl =/*[[${file.fileUrl}]]*/</script>
<script type="module" th:src="@{/js/renderer.js}"></script>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
