<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title id="pageTitle">File</title>
</head>

<div class="container">
    <nav  th:fragment="navbar" class=" navbar navbar-expand-lg  navbar-dark mb-5 px-4">
        <div class="container-fluid">

<!--            mobile searchbar-->
            <div class="searchbar2  align-items-center justify-content-center mx-0">
                <form class="searchbar2" th:fragment="searchbar" th:action="@{/files/search}" th:method="get" id="search-form">
                    <input style="border-radius: 5px;" type="text" name="search" placeholder="Search...">
                    <a aria-labelledby="searchButton" style="border-radius: 7px;" class="searchBtn mt-0 mx-2"
                       type="submit" name="searchBar" onclick="$('#search-form').submit()"><i
                            class="fas fa-search"></i></a>
                </form>
                <div sec:authorize="isAuthenticated()" class="nav-item m-0">
                    <form th:action="@{/logout}" th:method="post">
                        <button style="color: #bbbbbb" class="btn-link btn nav-link icon navIconLink">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </button>
                    </form>
                </div>
            </div>
<!--            logo main-->
            <a class="navbar-brand logoMain" href="/">Square<sup>3</sup></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" data-target="#navbarNav" id="navbarNav">
                <section class="col-lg-6 col-sm-12">
                    <ul class="navbar-nav nav-fill align-items-center justify-content-around collapseBackground pt-0">
                        <!--*****logo mobile-->
                        <li class="nav-item m-0">
                            <a class="nav-link logoMobile" href="/"><i class="fas fa-home"></i>
                                <span>Home</span></a>
                        </li>
                        <!--*****************-->
                        <li class="nav-item m-0">
                            <a class="nav-link icon navIconLink" href="/files/create">
                                <i aria-labelledby="upload" class="fas fa-cloud-upload-alt"></i>
                                <span class="navIconLabel">Upload</span>
                            </a>
                        </li>
                        <li class="nav-item m-0 d-flex flex-column">
                            <a class="nav-link icon p-0 navIconLink" href="/files"><i aria-labelledby="3d models"
                                                                                      class="fas fa-cubes"></i>
                                <span class="navIconLabel">3D Models</span></a>
                        </li>
                        <li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.admin}"
                            class="nav-item m-0">
                            <a class="nav-link icon navIconLink" href="/admin"><i aria-labelledby="adminDashboard"
                                                                                  class="fas fa-users-cog"></i>
                                <span class="navIconLabel">Admin Dashboard</span>
                            </a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="nav-item m-0">
                            <a class="nav-link navIconLink" href="/sign-up"><i aria-labelledby="sign-up"
                                                                               class="fas fa-user-plus"></i>
                                <span class="navIconLabel">Join</span></a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="nav-item m-0">
                            <a class="nav-link navIconLink" href="/login"><i aria-labelledby="login"
                                                                             class="fas fa-sign-in-alt"></i>
                                <span class="navIconLabel">Login</span></a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item m-0">
                            <form th:action="@{/profile/{id}(id=${#authentication.principal.id})}" th:method="get">
                                <button class="btn-link btn nav-link navIconLink"
                                        style="display: inline-block;margin-top: -1px">
                                    <i aria-labelledby="profile button" class="fas fa-user-astronaut"></i>
                                    <span class="navIconLabel">Profile</span>
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" id="messages" class="nav-item m-0">
                            <a href="/messages">
                                <button class="nav-link btn-link btn position-relative mx-auto navIconLink">
                                    <i aria-labelledby="inbox Button" class="far fa-envelope fa-lg"></i>
                                    <script>
                                        $(function () {
                                            $.ajax({
                                                url: "/ajax/unread",
                                                type: "GET",
                                                headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                                                success: function (data) {
                                                    $("#unread").text(data);
                                                }
                                            });
                                        });
                                    </script>
                                    <span id="unread" th:text="${session.unread}"
                                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
                                    <span>Inbox</span>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item m-0">
                            <a class="nav-link icon navIconLink" href="/about"><i class="fas fa-laptop-code"></i>
                                <span>About</span></a>
                        </li>
                    </ul>
                </section>
                <div class="searchbar input-group align-items-center justify-content-end">
                    <form class="searchbar" th:fragment="searchbar" th:action="@{/files/search}" th:method="get" id="search-form">
                        <input style="border-radius: 5px;" type="text" name="search" placeholder="Search...">
                        <a aria-labelledby="searchButton" style="border-radius: 7px;" class="searchBtn mt-0 mx-2"
                                type="submit" name="searchBar" onclick="$('#search-form').submit()"><i
                                class="fas fa-search"></i></a>
                    </form>
                    <div sec:authorize="isAuthenticated()" class="nav-item m-0">
                        <form th:action="@{/logout}" th:method="post">
                            <button style="color: #bbbbbb" class="btn-link btn nav-link icon navIconLink">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Logout</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

</html>
