<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title id="pageTitle">File</title>
</head>

<nav th:fragment="navbar">
    <nav class="navbar navbar-expand-lg  navbar-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Square<sup>3</sup></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container "data-target="#navbarNav" id="navbarNav">
                <section class="col-lg-6 col-sm-12">
                    <ul class="navbar-nav nav-fill justify-content-evenly collapseBackground pt-4">
                        <li class="nav-item">
                            <a class="nav-link icon " href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link icon " href="/files/create">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link icon" href="/files">3-D Models</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.admin}"
                            class="nav-item">
                            <a class="nav-link icon" href="/admin">Admin Dashboard</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="nav-item">
                            <a class="nav-link" href="/sign-up">Join</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="nav-item">
                            <a class="nav-link " href="/login">Login</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="logout nav-item">
                            <form th:action="@{/logout}" th:method="post">
                                <button class="btn-link btn nav-link" style="display: inline-block;margin-top: -1px">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <form th:action="@{/profile/{id}(id=${#authentication.principal.id})}" th:method="get">
                                <button class="btn-link btn nav-link" style="display: inline-block;margin-top: -1px">
                                    <i aria-labelledby="profile button" class="fas fa-user-astronaut"></i>
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" id="messages" class="nav-item">
                            <a href="/messages">
                                <button class="btn-link btn nav-link btn position-relative image"
                                        style="margin-bottom: -4px;">
                                    <!--<                       <button  class="btn position-relative image d-flex justify-content-end">-->

                                    <i aria-labelledby="inbox Button" class="far fa-envelope fa-lg"></i>

                                    <script>
                                        $(function () {
                                            $.ajax({
                                                url: "/ajax/unread",
                                                type: "GET",
                                                headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                                                success: function (data) {
                                                    $("#unread").text(data);
                                                }
                                            });
                                        });
                                    </script>
                                    <span id="unread" th:text="${session.unread}"
                                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>

                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link icon" href="/about">About</a>
                        </li>
                    </ul>
                </section>
                <div class="searchbar input-group justify-content-end">
                    <form class="searchbar" th:fragment="searchbar" th:action="@{/files/search}" th:method="get">
                        <input style="border-radius: 5px" type="text" name="search" placeholder="Search...">

                        <button aria-labelledby="searchButton" class="searchBtn" type="submit" name="searchBar" style="margin-top: 0px;"><i
                                class="fas fa-search" style="border-radius: 5px;"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</nav>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</html>
