<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit your profile</title>
</head>
<body>
<form th:object="${user}" th:action="@{/profile/{id}/edit(id=*{id})}" method="post">
    <label for="username">Username</label>
    <input name="username" id="username" th:value="${user.username}" th:field="*{username}"/>
    <br>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" th:field="*{firstName}" />
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" th:field="*{lastName}"/>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" th:value="${user.email}" th:field="*{email}"/>
    <br>
    <button th:type="submit" class="btn">Submit</button>
</form>
</body>
</html>