<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header_partial :: head"></head>
<body th:replace="partials/body_partials :: body"></body>
<nav th:replace="partials/navbar :: navbar"></nav>

<form th:object="${user}" th:action="@{/profile/{id}/edit(id=*{id})}" method="post">
    <label for="username">Username</label>
    <input name="username" id="username" th:value="${user.username}" th:field="*{username}"/>
    <br>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" th:field="*{firstName}" />
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" th:field="*{lastName}"/>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" th:value="${user.email}" th:field="*{email}"/>
    <br>
    <button th:type="submit" class="btn">Submit</button>
</form>
<footer th:replace="partials/footer_partial :: footer"></footer>
<script th:replace="partials/partials_scripts :: script"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!--<script th:src="@{/js/keys.js}"></script>-->
<!--<script th:src="@{/js/filestack.js}"></script>-->
</html>
