<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header_partial::head">
    <meta charset="UTF-8"/>
    <title>Recover your password</title>
</head>

<body th:replace="partials/body_partials :: body"></body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="backgroundDiv">
    <div th:text="${msg}"></div>
    <div th:if="${token != null}">
        <div th:replace="partials/manage-account::password-reset"></div>
    </div>
</div>

<footer th:replace="partials/footer_partial::footer"></footer>
</html>