<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">Profile</title>
</head>
<body class="background">
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="d-flex align-items-center">
    <h1 class="d-inline"><span class="d-inline" th:text="${user.username}"></span></h1>
    <div class="d-inline" sec:authorize="isAuthenticated()">
        <form th:replace="partials/follow-button::follow"></form>
    </div>
</div>

<div th:unless="${user.avatarUrl == 'none'}">
    <img th:src="${user.avatarUrl}" alt="user profile picture" style="width:15em">
</div>

<div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
    <form th:action="@{/profile/{id}/changeAvatar(id=${user.id})}" th:method="post">
        <button th:type="button" class="btn btn-danger" onclick="showAvatarForm('AvatarFilePicker')">Change Avatar</button>
        <div style="display: none" id="AvatarFilePicker">
            <input class="form-control" id="pickedFile" type="hidden" name="avatar">
            <button type="button" id="open">Choose image to upload</button>
<!--            TODO:if empty don't let it submit-->
            <button th:type="submit" class="btn btn-danger">Submit new Avatar</button>
        </div>
    </form>
</div>
<div class="col-8">
    <h3>Hello, <h2 th:text="${user.firstName}"></h2></h3>
    <br>
    <hr>
    Joined at: <p th:text="${user.joinedAt}">
</div>
<div>
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
        <form th:object="${user}" th:action="@{/profile/{id}/edit(id=*{id})}" th:value="*{id}" method="post">
            <button type="button" class="btn btn-success"><a th:href="@{/profile/{id}/edit(id=*{id})}">Edit</a></button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id != user.id}">
        <form th:action="@{/users/{id}/flag(id=${user.id})}" th:method="post">
            <button th:type="submit" class="btn btn-danger">Flag User</button>
        </form>
    </div>
    <h3><span th:text="${user.username}">'s uploaded files</span></h3>
    <div th:each="file : ${thisUsersFiles}">
        <div class="card" style="background-color: #4d4d4d">
            <div class="card-title" th:text="${file.title}"></div>
            <div class="card-body" th:text="${file.description}"></div>
            Created:
            <div class="card-body" th:text="${file.createdAt}"></div>
            <a th:href="@{'/files/' + ${file.id}}">see post</a>
            <!--        TODO: need to create a page that displays individual files/posts and use form below to link to each individual post/file-->
            <!--        <form th:action="@{/files/{id}(id=${file.ID})}" th:value="${file.ID}" method="post">-->
            <!--            <button type="submit">see post</button>-->
            <!--        </form>-->
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
        <div sec:authorize="isAuthenticated()" th:replace="partials/follow-feed::feed"></div>
    </div>
    <div sec:authorize="isAuthenticated()" th:replace="partials/favorites-list::favorites"></div>
</div>
<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
