<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/header_partial::head">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div class="d-flex align-items-center">
    <h1 class="d-inline"><span class="d-inline" th:text="${user.username}"></span></h1>
    <div class="d-inline" sec:authorize="isAuthenticated()">
        <form th:replace="partials/follow-button::follow"></form>
    </div>
</div>
</h1>

<img th:src="${user.avatarUrl}" alt="user profile picture">


<form th:action="@{/profile/{id}/changeAvatar(id=${user.id})}" th:method="post">
    <label for="avatar">New Img URL</label>
    <!--        TODO: (Later we can use api to be able to upload pictures and then save pictures as URL)-->
    <input name="avatar" id="avatar">
    <button th:type="submit" class="btn btn-danger">Change Avatar</button>
</form>
<div class="col-8">
    <h3>Hello, <h3 th:text="${user.username}"></h3></h3>
    <h2 th:text="${user.firstName}"></h2>
    <h2 th:text="${user.lastName}"></h2>
    <br>
    Admin status:<p th:text="${user.admin}"></p>
    <br>
    <hr>
    Joined at: <p th:text="${user.joinedAt}">
</div>
<div>
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
        <form th:object="${user}" th:action="@{/profile/{id}/edit(id=*{id})}" th:value="*{id}" method="post">
            <button type="button" class="btn btn-success"><a th:href="@{/profile/{id}/edit(id=*{id})}">Edit</a></button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id != user.id}">
        <form th:action="@{/users/{id}/flag(id=${user.id})}" th:method="post">
            <button th:type="submit" class="btn btn-danger">Flag User</button>
        </form>
    </div>
    <h3><span th:text="${user.username}">'s uploaded files</span></h3>
    <div th:each="file : ${thisUsersFiles}">
        <div class="card">
            <div class="card-title" th:text="${file.title}"></div>
            <div class="card-body" th:text="${file.description}"></div>
            <div class="card-body" th:text="${file.createdAt}"></div>
            <!--        TODO: need to create a page that displays individual files/posts and use form below to link to each individual post/file-->
            <!--        <form th:action="@{/files/{id}(id=${file.ID})}" th:value="${file.ID}" method="post">-->
            <!--            <button type="submit">see post</button>-->
            <!--        </form>-->
        </div>
    </div>

    <div sec:authorize="isAuthenticated()" th:replace="partials/follow-feed::feed"></div>
</div>
</body>
</html>