<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Your profile</h1>
<img src="https://picsum.photos/200" alt="user profile picture">


<div class="col-8">
    <h3>Hello, <h3 th:text="${user.username}"></h3></h3>
    <h2 th:text="${user.first_name}"></h2><h2 th:text="${user.last_name}"></h2>
    <br>
     Admin status:<p th:text="${user.is_admin}"></p>
    <br>
    <hr>
    Joined at: <p th:text="${user.joined_at}">
</div>
<div>
    <form th:object="${user}" th:action="@{/profile/{id}/edit(id=*{id})}" th:value="*{id}" method="post">
        <button type="button" class="btn btn-success"><a th:href="@{/profile/{id}/edit(id=*{id})}">Edit</a></button>
    </form>

</div>
<h3>Your uploaded files</h3>
<div th:each="file : ${thisUsersFiles}">
    <div class="card">
        <div class="card-title" th:text="${file.file_title}"></div>
        <div class="card-body" th:text="${file.description}"></div>
        <div class="card-body" th:text="${file.created_at}"></div>
<!--        TODO: need to create a page that displays individual files/posts and use form below to link to each individual post/file-->
<!--        <form th:action="@{/files/{id}(id=${file.ID})}" th:value="${file.ID}" method="post">-->
<!--            <button type="submit">see post</button>-->
<!--        </form>-->
    </div>
</div>

</body>
</html>