<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head"></head>
<body th:replace="partials/body_partials :: body">

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script th:replace="partials/partials_scripts :: script"></script>
<footer th:replace="partials/footer_partial :: footer"></footer>
</body>

</html>
