<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">Register an account</title>
</head>
<body class="background">

<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Create an account</h1>
<form id="formFont" th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}"/><br>

    <label for="email">Email</label>
    <input id="email" th:field="*{email}"/><br>

    <label for="firstName">First name</label>
    <input id="firstName" th:field="*{firstName}"/><br>

    <label for="lastName">Last name</label>
    <input id="lastName" th:field="*{lastName}"/><br>

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}"/><br>

    <input value="Sign me up!" type="submit"/>
</form>
<!--<div id="3d" class="box">-->
<!--    <div class="inner">-->
<!--        <span class="filter-shadow">Sign-Up!</span>-->
<!--    </div>-->
<!--    <div class="inner">-->
<!--        <span class="text-shadow">Sign-Up!</span>-->
<!--    </div>-->
<!--</div>-->

<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
