<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">Register an account</title>
</head>
<body class="background">

<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Create an account</h1>
<form class="backgroundDiv login" id="formFont" th:action="@{/sign-up}" method="POST" th:object="${user}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" class="form-control" th:field="*{username}"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" class="form-control" th:field="*{email}"/>
    </div>

    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input id="firstName" class="form-control" th:field="*{firstName}"/>
    </div>

    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input id="lastName" class="form-control" th:field="*{lastName}"/>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" class="form-control" type="password" th:field="*{password}"/>
    </div>

    <div class="mb-3">
        <label for="confirmedPassword" class="form-label">Confirm Password</label>
        <input id="confirmedPassword" class="form-control" type="password" th:field="*{confirmPassword}"/>
        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
    </div>

    <input value="Sign me up!" type="submit"/>
</form>
<!--<div id="3d" class="box">-->
<!--    <div class="inner">-->
<!--        <span class="filter-shadow">Sign-Up!</span>-->
<!--    </div>-->
<!--    <div class="inner">-->
<!--        <span class="text-shadow">Sign-Up!</span>-->
<!--    </div>-->
<!--</div>-->

<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
