<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">SquareCubed | 500 Error</title>
</head>
<body class="colorBackground">
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container my-5">
    <h1>Internal server error</h1>
    <div class="d-flex flex-column justify-content-center align-items-center my-3" >
        <img th:src="@{/image/climing.gif}" alt="3d-climbing-bear">
    </div>
</div>

<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>