*{
    box-sizing: border-box;
}

*:before,
 *:after {
     box-sizing: border-box;
 }

/*html, body {*/

/*    position: relative;}*/

body {

    padding: 2em;
    /*background: linear-gradient(180deg, #f14, #ff8300) fixed;*/
    font-family: "Avenir Next Condensed", sans-serif;
}
h1 {
    color: #613;
    text-align: center; }

.title {
    font-weight: 600;
    /*text-transform: uppercase;*/
    text-align: center;
    font-size: 10em;
}



.filter-shadow {
    color: transparent;
    background: linear-gradient(180deg, #fefefe, #bbb);
    -webkit-background-clip: text;
    -webkit-filter: drop-shadow(-1px -1px white) drop-shadow(1px 1px gray) drop-shadow(1px 1px #7a7a7a) drop-shadow(1px 1px #757575) drop-shadow(1px 1px #707070) drop-shadow(1px 1px #6b6b6b) drop-shadow(1px 1px #666666) drop-shadow(1px 1px #616161) drop-shadow(1px 1px #5c5c5c) drop-shadow(1px 1px #575757) drop-shadow(1px 1px #525252) drop-shadow(1px 1px #4d4d4d) drop-shadow(12px 12px 30px rgba(0, 0, 0, 0.2)) drop-shadow(12px 12px 10px rgba(0, 0, 0, 0.2)); }

.text-shadow {
    color: #f4f4f4;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4); }
.box {
    display: flex;
    margin-top: 1em;
}

.box .inner {
    width: 6em;
    height: 5em;
    line-height: 4.7em;
    font-size: 4rem;
    font-family:'Mansalva' ;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    /*color on right side of box*/
    background-color: #e20606;
    color: #850606;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
    /*color on left side of box*/
    background-color: #cabfbf;
    color: #f66868;
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

#welcome{
    margin-top: 4em;
}
.background{
    background: url('../image/3d_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}


/*Font and background colors*/
.navbar {
    width: auto;

}
 body, .welcome,h1,h2,h3,h4,#formFont{
    color: white;

}
.backgroundDiv{
    background: rgba(0, 0, 0, 0.7);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2px;
    border-radius: 10px;
    /*max-width: 60%;*/
    padding: 1em;
    border: black 2px solid
}
.categoryDiv{
    margin: 0;
    padding: 0;
    width: 10rem;
    background-color: #f1f1f1;
    position: fixed;
    height: 400px;
    overflow: auto;
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top:0;*/
}

.content{
    margin-bottom: 3em;
    margin-left: 12rem;
    padding: 1px 16px;
    /*height: 1000px;*/
    max-width: 75%;
}


.image{max-width: 9rem}

.login{
    max-width: 500px;
}
.adminSubHeadings{
    margin-left: 1em;
}

.navbar{
    background-color: black;
    opacity: 80%;
}
footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: 80%;

}
.links{
    color: white;
}
li {
    color: white;
}
#example1{
   height:150px !important;
}

.followBtn {
    background: none;
    border: none;
}

.followBtn:focus {
    outline: none;
    box-shadow: none;
}

.follow {
    color: lightgray;
}

.follow:hover {
    color: lightskyblue;
}

.unfollow {
    color: dodgerblue;
}

.unfollow:hover {
    color: lightskyblue;
}


.favoriteBtn {
    background: none;
    border: none;
}

.favoriteBtn:focus {
    outline: none;
    box-shadow: none;
}

.favorite {
    color: yellow;
}

.favorite:hover {
    color: yellow;
}

.unfavorite {
    color: goldenrod;
}

.unfavorite:hover {
    color: goldenrod;
}
/*media queries*/

@media screen and (max-width: 600px) {
    .title {
        font-size: 3.7em;
    }
    .searchbar{
        display: block;
    }
}

@media screen and (min-width: 1020px ){
    .searchBar{
        display: flex;
        justify-content:flex-end;
    }
}

@media only screen and (max-width: 768px){
    .content{
        max-width: 60%;
        margin-left: 10rem;
    }
    .footer{
        position: fixed;
        bottom: 0;
    }
}

