.navbar {

}
.welcome{
    color: white;
}
.navbar{
    background-color: black;
    opacity: 80%;
}
footer{
    margin-top: 500px;
    background-color: black;
    opacity: 80%;
}
.links{
    color: white;
}
li {
    color: white;
}
#example1{
   height:150px !important;
}
