* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html, body {

    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.whiteFont{
    color:white;
}

.colorBackground{
    background-image: radial-gradient(#81bcae, #367071, #0a220c);

}
body {
    font-family: "Avenir Next Condensed", sans-serif;
}
.table{
    width: 60%;
}

.background{
    background-blend-mode: soft-light;
    background: #407272 url('../image/blackmetal.jpg') no-repeat  fixed  center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    /*background-size: 100%;*/

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #7a7a7a;
}
.messageItem{
    max-width: 25em;
    border-radius: 10px;
}
#listNumber{
    font-size: 30px;
}
.card-img{

    margin-top: 20px;
 max-height: 15em;
    max-width: 10em;
}
#card1{
    margin-top: 20em;
}

.thumbnailPic{
    max-width: 10em;
}
h1 {
    color: #613;
    text-align: center;
}
.describe{
    margin-top: -15.6em;
    position: relative;
}
.title {
    font-weight: 600;
    /*text-transform: uppercase;*/
    text-align: center;
    font-size: 10em;
    margin-bottom: 3em;
    margin-top: 1em;


}

.icon,.nav-link{
    color: white !important;
}
.filter-shadow {
    color: transparent;
    background: linear-gradient(180deg, #fefefe, #bbb);
    -webkit-background-clip: text;
    -webkit-filter: drop-shadow(-1px -1px white) drop-shadow(1px 1px gray) drop-shadow(1px 1px #7a7a7a) drop-shadow(1px 1px #757575) drop-shadow(1px 1px #707070) drop-shadow(1px 1px #6b6b6b) drop-shadow(1px 1px #666666) drop-shadow(1px 1px #616161) drop-shadow(1px 1px #5c5c5c) drop-shadow(1px 1px #575757) drop-shadow(1px 1px #525252) drop-shadow(1px 1px #4d4d4d) drop-shadow(12px 12px 30px rgba(0, 0, 0, 0.2)) drop-shadow(12px 12px 10px rgba(0, 0, 0, 0.2));
}

.text-shadow {
    color: #f4f4f4;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}

.box {
    display: flex;
    margin-top: 1em;
}

.box .inner {
    width: 5em;
    height: 5em;
    line-height: 4.7em;
    font-size: 4rem;
    font-family: 'Mansalva';
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    /*color on right side of box*/
    background-color: #e20606;
    color: #850606;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
    /*color on left side of box*/
    background-color: #cabfbf;
    color: #f66868;
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

/*#welcome {*/
/*    margin-top: 100px;*/
/*}*/

a{
    text-decoration: none;
}
/*Font and background colors*/
.navbar {

    margin-top: 2em;
    width: 100%;
    /*background-color: #e2a87f;*/
    background-color: #151414;
    opacity: 92%;
    z-index: 4;
}


body, .welcome, h1, h2, h3, h4, #formFont {
    color: whitesmoke;
}

.backgroundDiv {
    background: rgba(0, 0, 0, 0.8);
    margin: 1em auto;
    border-radius: 10px;
    /*max-width: 60%;*/
    padding: 1em;
    border: black 2px solid
}



.content {
    margin-bottom: 3em;
    margin-left: 12rem;
    padding: 1px 16px;
    /*height: 1000px;*/
    max-width: 75%;
}


.image {
    max-width: 9rem
}

.login {
    max-width: 500px;
}

.adminSubHeadings {
    margin-left: 1em;
}


footer {
    position: static;
    padding: 2em;
    /*height: 300px;*/
    bottom: 0;
    /*width: 100%;*/
    /*background-color: black;*/
    /*opacity: 80%;*/
    /*margin: 0 auto;*/
    margin-top: 30em;
    /*z-index: 0;*/

}

.links {
    color: white;
}

li {
    color: white;
}

#example1 {
    height: 150px !important;
}

.followBtn {
    background: none;
    border: none;
}

.followBtn:focus {
    outline: none;
    box-shadow: none;
}

.follow {
    color: lightgray;
}

.follow:hover {
    color: lightskyblue;
}

.unfollow {
    color: dodgerblue;
}

.unfollow:hover {
    color: lightskyblue;
}


.favoriteBtn {
    background: none;
    border: none;
}

.favoriteBtn:focus {
    outline: none;
    box-shadow: none;
}

.favorite {
    color: yellow;
}

.favorite:hover {
    color: yellow;
}

.unfavorite {
    color: goldenrod;
}

.unfavorite:hover {
    color: goldenrod;
}

a{
    color:lightsteelblue;
}

.gray{
    color:gray;
}
.bg-transparent{
    opacity: 0.1;
}
.bg-transparent:hover{
    opacity: 0.7;
}
/*test table*/

.bg-gradient {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
ul li {
    margin-bottom:1.4rem;
}
#categories-container {
    max-height: 50vh;
    overflow-y: scroll;
}

.admin-tab {
    border: 1px solid #3d3c3c;
    background-color: black;
    color: white;
    /*width: 40px*/
}
.admin-tab:hover {
    background-color: #0f52fc;
    color: white;
}


/*media queries*/
@media (min-width: 319px) and (max-width: 575.98px) {

    #categories-container {
        max-height: 15vh;
        overflow-y: scroll;
        max-width: 80vw;
    }
        /*.indexView{*/
        /*    display: flex;*/
        /*    flex-direction: column;*/
        /*    justify-content: space-evenly;*/
        /*    align-content: center;*/
        /*}*/

}

@media screen and (max-width: 600px) {
    .title {
        font-size: 3.7em;
    }

    .
    ar {
        display: block;
        text-align: center;
    }

    .describe{
        margin-top: -200px;
    }
}

@media screen and (min-width: 1020px ) {
    .searchBar {
        display: flex;
        justify-content: flex-end;
    }
    .categoryDiv {
        margin-top: 2em;
    /*    max-width: 8rem;*/
        background-color: #f1f1f1;
        position: sticky;
        height: 400px;
        overflow: auto;
    /*    !*position: -webkit-sticky;*!*/
    /*    !*position: sticky;*!*/
    /*    !*top:0;*!*/
    }

    #categories-container {
        max-height: 45vh;
        overflow-y: scroll;

    }
}

@media only screen and (max-width: 768px) {
    .content {
        max-width: 60%;
        margin-left: 10rem;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
    .categoryDiv {
        margin-top: 2em;
        max-width: 8rem;
        background-color: #f1f1f1;
        position: sticky;
        height: 400px;
        overflow: auto;
        /*position: -webkit-sticky;*/
        /*position: sticky;*/
        /*top:0;*/
    }
    #categories-container {
        max-height: 30vh;
        overflow-y: scroll;

    }

}

.file-title-link {
    color: #48dada;
}

.file-title-link:hover {
    color: #407272;
}

.file-title-link:active {
    color: papayawhip;
}

.navIconLink {
    color: white !important;
}

.navIconLink:hover {
    color: #407272 !important;
}

.navIconLink:active {
    color: darkgray !important;
}