<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">About</title>
</head>
<body class="colorBackground">
<nav th:replace="partials/navbar :: navbar"></nav>

<section>
    <div>
        <h2>How do I upload a file?</h2>
    </div>
    <div>
        <h2>What kind of files can i upload?</h2>
    </div>
    <div>
        <h2>How do I change the view of 3D models?</h2>
    </div>
    <div>
        <h2>How do I upload a Picture of the physical print?</h2>
    </div>
    <div>
        <h2>How do I send a message?</h2>
    </div>
</section>

<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
