<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head"></head>
<body th:replace="partials/body_partials :: body" ></body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div id="welcome">
    <h1>Welcome to</h1>
    <h2 class="title filter-shadow">SquareCubed</h2>
</div>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div id="3d" class="box">
                <div class="inner">
                    <span class="filter-shadow">3D DESIGNS</span>
                </div>
                <div class="inner">
                    <span class="text-shadow">3D DESIGNS</span>
                </div>
            </div>
        </div>
    </div>

<script th:replace="partials/partials_scripts :: script"></script>
<footer th:replace="partials/footer_partial :: footer"></footer>

</div>
</html>
<!--th:src="@{${'/image/3d_ex1'}}"-->
