<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">Post a File</title>
</head>
<body class="background">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="backgroundDiv">
    <div class="row">
        <div class="col-auto">
            <h1 class=" welcome  my-3">Create a 3D File to Share</h1>
        </div>
    </div>

    <!--upload form-->
    <form id="upload form" th:action="@{/files/create}" th:method="POST" th:object="${file}" class="backgroundDiv card ml-1 col-auto">
        <div class="my-3 mx-2">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{title}" placeholder="">
        </div>
        <div class="mb-3 mx-2">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{description}"
                      rows="3"></textarea>
        </div>
        <div class="mb-6 mx-2">
            <input class="form-control form-control-lg" id="pickedFile" type="hidden" th:field="*{fileUrl}">
            <button type="button" id="open">Choose file to upload</button>
        </div>
        <div class="my-3 mx-2 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{private}">
            <label class="form-check-label" for="exampleCheck1">Set as private</label>
        </div>
        <input type="submit" class="btn btn-outline-secondary my-3">
    </form>
</div>
</div>
<!--<img id="example1" th:src="@{${'/image/3d_ex1'}}" class="rounded img-fluid img-thumbnail" alt="3d Printer">-->
<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
<script th:src="@{/js/filestack.js}"></script>

</body>
</html>
