<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Welcome to our page!</h1>
<button id="open">Open Picker</button>
<button id="close">Close Picker</button>
<div id="inline" style="width:600px;height:500px;padding:20px;"></div>

<footer th:replace="partials/footer_partial :: footer"></footer>
<div th:replace="partials/partials_scripts :: script"></div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>

    window.addEventListener('DOMContentLoaded', function () {
        const apikey = 'FILESTACK_API_KEY';
        const client = filestack.init(apikey);
        const options = {
            displayMode: 'inline',
            container: '#inline',
            maxFiles: 20,
            uploadInBackground: false,
            onUploadDone: (res) => console.log(res),
        };
        const picker = client.picker(options);
        const openBtn = document.getElementById('open');
        const closeBtn = document.getElementById('close');
        openBtn.addEventListener('click', () => picker.open());
        closeBtn.addEventListener('click', () => picker.close());
    });
</script>
</body>
</html>
