<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head"></head>
<body th:replace="partials/body_partials :: body"></body>

<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-auto">
            <h1 class=" welcome  my-3">Create a 3D File to Share</h1>
        </div>
    </div>

    <!--upload form-->
    <form id="upload form" th:action="@{/files/create}" th:method="POST" th:object="${file}" class="card ml-1 col-auto">
        <div class="my-3 mx-2">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{title}" placeholder="">
        </div>
        <div class="mb-3 mx-2">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{description}"
                      rows="3"></textarea>
        </div>
        <div class="mb-6 mx-2">
            <input class="form-control form-control-lg" id="pickedFile" type="hidden" th:field="*{fileUrl}">
            <button type="button" id="open">Open Picker</button>
        </div>
        <div class="my-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" th:field="*{private}">Set as private</label>
        </div>
        <input type="submit" class="btn btn-outline-secondary my-3">
    </form>
</div>
<!--<img id="example1" th:src="@{${'/image/3d_ex1'}}" class="rounded img-fluid img-thumbnail" alt="3d Printer">-->
<footer th:replace="partials/footer_partial :: footer"></footer>
<script th:replace="partials/partials_scripts :: script"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script th:src="@{/js/keys.js}"></script>
<script th:src="@{/js/filestack.js}"></script>

</html>
