<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">Post a File</title>
</head>
<body class="colorBackground">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="backgroundDiv">
        <!--    <div class="row">-->
        <h1 class=" welcome  my-3">Create a 3D File to Share</h1>
        <!--    </div>-->
        <div th:if="${message!=null}">
            <span class="alert alert-danger" th:text="${message}"></span>
        </div>
        <!--upload form-->
        <form id="upload-form" th:action="@{/files/create}" th:method="POST" th:object="${file}"
              onsubmit="return validateSignup()"
              class="backgroundDiv card ml-1">
            <div class="my-3 mx-2">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{title}"
                       placeholder="Give your 3D model a title" required>
            </div>
            <div class="mb-3 mx-2">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{description}"
                          rows="3" required></textarea>
            </div>
            <div class="mb-6 mx-2">
                <input class="form-control form-control-lg" id="pickedFile" type="hidden" th:field="*{fileUrl}">
                <button type="button" class="btn btn-outline-secondary mb-3 whiteFont" id="open">Choose your 3D File
                </button>
            </div>
            <br>
            <div class="my-6 mx-2">
                <div>Pick categories (limit three):</div>
                <th:block th:each="category : ${categoryList}">
                    <div class="form-check form-check-inline m-2">
                        <input class="form-check-input checkbox" type="checkbox"
                               th:id="${category.category}" name="categories" th:value="${category.id}"/>
                        <label class="form-check-label" th:for="${category.category}"
                               th:text="${category.category}"></label>
                    </div>
                </th:block>
            </div>
            <div class="my-3 mx-2 form-check form-switch">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{private}">
                <label class="form-check-label" for="exampleCheck1">Set as private</label>
            </div>
            <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('recaptcha.testing.site.key')}"
                 data-callback="onSubmit" data-size="invisible" data-badge="inline">
            </div>
            <input type="submit" class="btn btn-outline-secondary whiteFont my-3">
        </form>
    </div>
</div>
<!--<img id="example1" th:src="@{${'/image/3d_ex1'}}" class="rounded img-fluid img-thumbnail" alt="3d Printer">-->
<footer th:replace="partials/footer_partial :: footer"></footer>
<section th:replace="partials/partials_scripts :: script"></section>
<script th:src="@{/js/filestack.js}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("upload-form").submit();
    }

    function validateSignup() {
        grecaptcha.execute();
        if (grecaptcha.getResponse()) {
            return true;
        } else {
            console.log("Please prove that you are not a robot");
            return false;
        }
    }
</script>
<script>
    $('.checkbox').click(function () {
        if ($('.checkbox:checked').length >= 3) {
            $(".checkbox").not(":checked").attr("disabled", true);
        } else
            $(".checkbox").not(":checked").removeAttr('disabled');
    });
</script>
</body>
</html>
