<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing your file post</title>
</head>
<body>
<h1>Editing your file post</h1>

<form th:object="${file}" th:action="@{/files/{id}/edit(id=${file.id})}"  method="post">
    Post Title:
    <input name="title" th:value="${file.title}" th:field="*{title}"/>
    <br>
    Your file post:
    <input type="text" name="description" th:value="${file.description}" th:field="*{description}"/>
    <br>
    <label for="isPrivate">set to private</label>
    <input type="checkbox" id="isPrivate" th:checked="${file.private}" name="isPrivate" th:field="*{private}"/>
    <br>

    <!--    TODO: maybe change db to allow multiple pictures for each picture-->
<!--    <div th:each="img : ${allImgs}">-->
<!--        <div th:value="${file.img.img_url}"></div>-->
<!--    </div>-->
<div th:each="img : ${filesImgs}">
    <img th:src="${img.img_url}"/>
</div>
<!--TODO: have all three image URLs be converted to the list of images, doesn't recognize temp rn-->
    <label for="fileImg">Add Images URL</label>
<!--TODO: eventually should upload pictures rather than pasting URLs-->
    <input name="fileImg" id="fileImg" th:field="*{temp}" placeholder="Paste img url here">
    <input name="fileImg" id="fileImg1" th:field="*{temp}" placeholder="Paste img url here">
    <input name="fileImg" id="fileImg2" th:field="*{temp}" placeholder="Paste img url here">
    <br>
    <button th:type="submit" class="btn">Submit</button>
</form>
<form th:action="@{/files/{id}/delete(id=${file.id})}" th:method="delete">
    <button th:type="submit" class="btn btn-danger">Delete</button>
</form>

</body>
</html>