<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar">
</nav>
<h1>Individual File</h1>
<!--<div>-->
<!--    <h3 th:text="${file.file_title}"></h3>-->
<!--    <br>-->
<!--    <img th:src="${file.img_url}"/>-->
<!--&lt;!&ndash;    TODO:rendering needs to go in to the following tag&ndash;&gt;-->
<!--    <div th:value="${file.file_url}"></div>-->
<!--    <p th:text="${file.description}"></p>-->
<!--    Date post was created:-->
<!--    <p th:text="${file.created_at}"></p>-->
<!--    Date last updated:-->
<!--    <p th:text="${file.updated_at}"></p>-->
<!--    <p>Is private = </p><p th:text="${file.is_private}"></p>-->
<!--    <br>-->
<!--    <hr>-->
<!--&lt;!&ndash;    TODO: following p tag can be converted to link to redirect to the owners profile&ndash;&gt;-->
<!--    Created By: <p th:text="${file.getOwner().getUsername()}">-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8" id="renderer"></div>
        <div class="col-12 col-sm-4" >
            Date created:
            <p th:text="${file.created_at}"></p>
            Date last updated:
            <p th:text="${file.updated_at}"></p>
            <p>Is private = </p><p th:text="${file.is_private}"></p>
            <!--    TODO: following p tag can be converted to link to redirect to the owners profile-->
            Created By: <p th:text="${file.getOwner().getUsername()}">
            <button class="btn btn-outline-secondary">follow</button>
            <button class="btn btn-outline-secondary">download</button>
            <button class="btn btn-outline-secondary">like</button>
            <button class="btn btn-outline-secondary">add to list</button>
            <button class="btn btn-outline-secondary">comment</button>
        </div>
        <div class="col-12 col-sm-8">
            <img th:src="${file.img_url}"/>
            <!--    TODO:rendering needs to go in to the following tag-->
            <div th:value="${file.file_url}"></div>
            Title:
            <h3 th:text="${file.file_title}"></h3>
            <br>
            Description:
            <p th:text="${file.description}"></p>
            <hr>
            Comment:
            <div></div>
        </div>
    </div>
</div>

<!--    TODO:only show when user is owner-->
<!--<form th:action="@{/files/{id}/edit(id=${file.id})}" th:value="${file.id}" method="post">-->
<!--    <button type="button" ><a th:href="@{/files/{id}/edit(id=${file.id})}">Edit</a></button>-->
<!--</form>-->
<footer th:replace="partials/footer_partial :: footer"></footer>
<script th:replace="partials/partials_scripts :: script"></script>
<script type="module" th:src="@{/js/renderer.js}"></script>
</body>
</html>