<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header_partial :: head">
    <title id="pageTitle">File</title>
</head>
<body class="background">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="backgroundDiv" style="height: fit-content">
    <h1 th:text="${file.title}">Individual File</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8" id="renderer"></div>
            <div class="col-12 col-md-4">
                Date created:
                <p th:text="${file.createdAt}"></p>
                Date last updated:
                <p th:text="${file.updatedAt}"></p>
                <p>Is private = </p>
                <p th:text="${file.private}"></p>
                <!--    TODO: only show this if admin-->
                <p>Is flagged = </p>
                <p th:text="${file.isFlagged()}"></p>
                <!--    TODO: following p tag can be converted to link to redirect to the owners profile-->
                Created By:
                <a th:href="@{'/profile/' + ${file.owner.getId()}}" th:text="${file.getOwner().getUsername()}"></a>
                <br>
                <button class="btn btn-outline-secondary">follow</button>
                <button class="btn btn-outline-secondary">download</button>
                <button class="btn btn-outline-secondary">like</button>
                <button class="btn btn-outline-secondary">add to list</button>
                <button class="btn btn-outline-secondary">comment</button>

            </div>
            <div class="col-12 col-md-8">
                <div th:unless="${imgFiles == null}">
                    <div th:each="img : ${imgFiles}">
                        <img th:src="${img.img_url}" alt="file img"/>
                    </div>
                </div>
                <!--    TODO:rendering needs to go in to the following tag-->
                <div th:value="${file.fileUrl}"></div>
                Categories:
                <div>
                <span th:each="category : ${file.categories}">
                    <a th:href="@{'/files/' + '?category=' + ${category.category}}" th:text="${category.category}"></a>
                </span>
                </div>
                Description:
                <p th:text="${file.description}"></p>
                <hr>
                Comment:
                <div></div>
            </div>
        </div>
        <div class="d-inline" sec:authorize="isAuthenticated()">
            <form th:replace="partials/favorite-button::favorite"></form>
        </div>
    </div>
    <!--TODO: needs to be one rating per file, per user-->
    <div class="rating-box" style="border: grey solid 1px">
        <h5>Rating: </h5><h5 th:text="${averageRating}"></h5>
        <form th:action="@{/files/{id}/rating(id=${file.id})}" th:method="post">
            <label for="ratings">Rate this object</label>
            <select id="ratings" th:name="ratings">
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5</option>
                <option th:value="6">6</option>
                <option th:value="7">7</option>
                <option th:value="8">8</option>
                <option th:value="9">9</option>
                <option th:value="10">10</option>
            </select>
            <input th:type="submit"></input>
        </form>
    </div>
    <div class="commentbox" style="border: grey solid 2px" th:each="comment : ${allCommentsForThisPost}">
        <h2 th:text="${comment.getOwner().getUsername()}"></h2>
        <p th:text="${comment.comment}"></p>
        <p th:text="${comment.createdAt}"></p>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/files/{id}/comment/{commentId}/delete(id=${file.id}, commentId=${comment.id})}"
                  th:method="post">
                <input type="hidden" name="commentId" th:value="${comment.id}">
                <button th:type="submit">Delete comment</button>
            </form>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/files/{id}/comment(id=${file.id})}" th:method="post">
            Your comment:
            <input name="commentText" class="field" type="text">
            <button th:type="submit">post comment</button>
        </form>
    </div>
    <div sec:authorize="!isAuthenticated()">
        Would you like to leave a comment? <a href="/sign-up">Sign up</a> or <a href="/login">Login</a>!
    </div>
    <div>
        <form sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id==file.owner.id}"
              th:action="@{/files/{id}/edit(id=${file.id})}" th:value="${file.id}" method="post">
            <button type="button"><a th:href="@{/files/{id}/edit(id=${file.id})}">Edit</a></button>
        </form>
    </div>
</div>
<footer th:replace="partials/footer_partial :: footer"></footer>
<script th:inline="javascript">const fileUrl=/*[[${file.fileUrl}]]*/</script>
<script type="module" th:src="@{/js/renderer.js}"></script>
<section th:replace="partials/partials_scripts :: script"></section>
</body>
</html>
