<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header_partial :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Welcome to our page!</h1>
<div class="container">
    <div class="row">
        <div class="col-8" id="renderer"></div>
        <div class="col-4" >
<!--            <img src="@{/user.avatar}" alt="">-->
<!--            <div th:text="${user.name}"></div>-->
            <button class="btn btn-outline-secondary">follow</button>
            <button class="btn btn-outline-secondary">download</button>
            <button class="btn btn-outline-secondary">like</button>
            <button class="btn btn-outline-secondary">add to list</button>
            <button class="btn btn-outline-secondary">comment</button>
        </div>
        <div class="col-8">
            Description:
<!--            <div th:text="${file.description}"></div>-->
            <hr>
            Comment:
            <div></div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer_partial :: footer"></footer>
<div th:replace="partials/partials_scripts :: script"></div>
<script type="module" src="/js/renderer.js">
</script>
</body>
</html>
